<div class="ratio ratio-{{ with .Get "ratio" }}{{.}}{{ end }}">
  <video{{ with .Get "attributes" }} {{ . | safeHTMLAttr }}{{ end }} width="{{ with .Get "width" }}{{.}}{{ end }}" height="{{ with .Get "height" }}{{.}}{{ end }}">
    {{ with .Get "webm-src" -}}
    <source src="{{ . | relURL }}" type="video/webm">
    {{ end -}}
    {{ with .Get "mp4-src" -}}
    <source src="{{ . | relURL }}" type="video/mp4">
    {{ end -}}
    {{ with .Get "mp4-src-base" -}}
    <source src="{{ . | absURL }}" type="video/mp4">
    {{ end -}}
    Sorry, your browser doesn't support embedded videos.
  </video>
</div>
